{% extends 'base.html.twig' %}

{% block content %}
    <!-- Page Header-->
    <header class="masthead" style="background-image: url('public/assets/img/connexion-bg.jpg')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="page-heading">
                        <h1>Connexion</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main Content-->
    <main class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="my-5">
                        <form id="connexionForm" method="post" action="index.php?loginUser">
                            <div class="form-floating">
                                <input class="form-control" id="login" name="login" type="text" placeholder="Entrez votre identifiant..." data-sb-validations="required" />
                                <label for="login">Identifiant</label>
                                <div class="invalid-feedback" data-sb-feedback="name:required">Votre identifiant est requis.</div>
                            </div>
                            <div class="form-floating">
                                <input class="form-control" id="password" name="password" type="password" placeholder="Entrez votre mot de passe..." data-sb-validations="required,password" />
                                <label for="password">Mot de passe</label>
                                <div class="invalid-feedback" data-sb-feedback="email:required">Votre mot de passe est requis.</div>
                                <div class="invalid-feedback" data-sb-feedback="email:email">Votre mot de passe n'est pas valide.</div>
                            </div>
                            <br />
                            <div class="d-none" id="submitSuccessMessage">
                                <div class="text-center mb-3">
                                    <div class="fw-bolder">Connexion réussie avec succès !</div>
                                </div>
                            </div>
                            <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Erreur de connexion !</div></div>
                            <button class="btn btn-primary text-uppercase" id="submitButton" type="submit">Connexion</button>
                        </form>
                        <p class="text-center">Si vous n'avez pas de compte, veuillez cliquez ci-dessous pour en créer un</p>
                        <div class="text-center my-5">
                            <a class="btn btn-primary text-uppercase " href="index.php?account">Créer un compte</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock content %}