{% extends 'base.html.twig' %}

{% block content %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('public/assets/img/contact-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>Contactez Moi</h1>
                            <span class="subheading">Vous avez une question ? J'ai la réponse.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p class="text-center">Vous voulez entrer en contact avec moi ? Remplissez le formulaire<br>
                            ci-dessous pour m'envoyer un message et je vous répondrai dans<br>
                            les plus brefs délais !
                        </p>
                        <div class="my-5">
                            <form id="contactForm" method="post" action="index.php?contactForm">
                                <div class="form-floating">
                                    <input class="form-control" id="name" name="name" type="text" placeholder="Entrez votre nom..." data-sb-validations="required" />
                                    <label for="name">Nom</label>
                                    <div class="invalid-feedback" data-sb-feedback="name:required">Un nom est requis.</div>
                                </div>
                                <div class="form-floating">
                                    <input class="form-control" id="email" name="email" type="email" placeholder="Entrez votre adresse email..." data-sb-validations="required,email" />
                                    <label for="email">Adresse Mail</label>
                                    <div class="invalid-feedback" data-sb-feedback="email:required">Une adresse mail est requise.</div>
                                    <div class="invalid-feedback" data-sb-feedback="email:email">L'adresse mail n'est pas correct.</div>
                                </div>
                                <div class="form-floating">
                                    <input class="form-control" id="phone" name="phone" type="tel" placeholder="Entrez votre numéro de téléphone..." data-sb-validations="required" />
                                    <label for="phone">N° de téléphone</label>
                                    <div class="invalid-feedback" data-sb-feedback="phone:required">Un numéro de téléphone est requis.</div>
                                </div>
                                <div class="form-floating">
                                    <textarea class="form-control" id="message" name="message" placeholder="Entrez votre message..." style="height: 12rem" data-sb-validations="required"></textarea>
                                    <label for="message">Message</label>
                                    <div class="invalid-feedback" data-sb-feedback="message:required">Un message est requis.</div>
                                </div>
                                <br />
                                <div class="d-none" id="submitSuccessMessage">
                                    <div class="text-center mb-3">
                                        <div class="fw-bolder">Formulaire de contact envoyé !</div>
                                    </div>
                                </div>
                                <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Erreur dans l'envoi du message !</div></div>
                                <button class="btn btn-primary text-uppercase" id="submitButton" type="submit">Envoyer</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
{% endblock content %}