{% extends 'base.html.twig' %}

{% block content %}
<!-- Page Header-->
<header class="masthead" style="background-image: url('public/assets/img/admin-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Créer un article</h1>
                    <span class="subheading">C'est le bon endroit pour laisser libre cours à sa créativité !</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                {% if messageSystem is defined %}
                    <p class="errorSystem">{{ messageSystem }}</p>
                {% endif %}
                <div class="my-5">
                    <form id="createArticleForm" method="post" action="index.php?createArticle">
                        <div class="form-floating">
                            <input class="form-control" id="title" name="title" type="text" placeholder="Entrez votre titre..." data-sb-validations="required" />
                            <label for="title">Titre</label>
                            <div class="invalid-feedback" data-sb-feedback="title:required">Un titre est requis.</div>
                        </div>
                        <div class="form-floating">
                            <textarea class="form-control" id="description" name="description" type="text" placeholder="Entrez votre texte..." data-sb-validations="required"></textarea>
                            <label for="description">Courte description de l'article</label>
                            <div class="invalid-feedback" data-sb-feedback="description:required">Un article est requis.</div>
                        </div>
                        <div class="form-floating">
                            <textarea class="form-control" id="contenu" name="contenu" type="text" placeholder="Entrez le contenu de votre article..." data-sb-validations="required"></textarea>
                            <label for="contenu">Contenue de l'article</label>
                            <div class="invalid-feedback" data-sb-feedback="description:required">Un contenu est requis.</div>
                        </div>
                        <br />
                        <div class="d-none" id="submitSuccessMessage">
                            <div class="text-center mb-3">
                                <div class="fw-bolder">Article créé avec succès !</div>
                            </div>
                        </div>
                        <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Erreur de création de l'article !</div></div>
                        <button class="btn btn-primary text-uppercase" id="submitButton" type="submit">Créer mon article</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock content %}
