{% extends 'base.html.twig' %}

{% block content %}
    <!-- Page Header-->
    <header class="masthead" style="background-image: url('public/assets/img/welcome-bg.jpg')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="page-heading">
                        <h1>Création de mon compte</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main Content-->
    <main class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    {% if messageSystem is defined %}
                        <p class="errorSystem text-center">{{ messageSystem }}</p>
                    {% endif %}
                    <div class="my-5">
                        <form id="connexionForm" method="post" action="index.php?createAccount">
                            <div class="form-floating">
                                <input class="form-control" id="nom" name="nom" type="text" placeholder="Entrez votre nom..." data-sb-validations="required" />
                                <label for="nom">Nom</label>
                                <div class="invalid-feedback" data-sb-feedback="name:required">Votre nom est requis.</div>
                            </div>
                            <div class="form-floating">
                                <input class="form-control" id="prenom" name="prenom" type="text" placeholder="Entrez votre prénom..." data-sb-validations="required" />
                                <label for="prenom">Prénom</label>
                                <div class="invalid-feedback" data-sb-feedback="name:required">Votre prénom est requis.</div>
                            </div>
                            <div class="form-floating">
                                <input class="form-control" id="login" name="login" type="text" placeholder="Entrez votre identifiant..." data-sb-validations="required" />
                                <label for="login">Identifiant</label>
                                <div class="invalid-feedback" data-sb-feedback="name:required">Votre identifiant est requis.</div>
                            </div>
                            <div class="form-floating">
                                <input class="form-control" id="email" name="email" type="email" placeholder="Entrez votre adresse email..." data-sb-validations="required,email" />
                                <label for="email">Adresse Mail</label>
                                <div class="invalid-feedback" data-sb-feedback="email:required">Une adresse mail est requise.</div>
                                <div class="invalid-feedback" data-sb-feedback="email:email">L'adresse mail n'est pas correct.</div>
                            </div>
                            <div class="form-floating">
                                <input class="form-control" id="password" name="password" type="password" placeholder="Entrez votre mot de passe..." data-sb-validations="required,password" />
                                <label for="password">Mot de passe</label>
                                <div class="invalid-feedback" data-sb-feedback="email:required">Votre mot de passe est requis.</div>
                                <div class="invalid-feedback" data-sb-feedback="email:email">Votre mot de passe n'est pas valide.</div>
                            </div>
                            <div class="form-floating">
                                <input class="form-control" id="samePassword" name="samePassword" type="password" placeholder="Entrez votre mot de passe de nouveau..." data-sb-validations="required,password" />
                                <label for="samePassword">Confirmation du mot de passe</label>
                                <div class="invalid-feedback" data-sb-feedback="email:required">Votre mot de passe est requis.</div>
                                <div class="invalid-feedback" data-sb-feedback="email:email">Votre mot de passe n'est pas valide.</div>
                            </div>
                            <br />
                            <div class="d-none" id="submitSuccessMessage">
                                <div class="text-center mb-3">
                                    <div class="fw-bolder">Compte créé avec succès !</div>
                                </div>
                            </div>
                            <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Erreur de création de compte !</div></div>
                            <button class="btn btn-primary text-uppercase" id="submitButton" type="submit">Créer mon compte</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock content %}