{% extends 'base.html.twig' %}

{% block content %}
    <!-- Page Header-->
    <header class="masthead" style="background-image: url('public/assets/img/cv-bg.png')">
    </header>
    <!-- Main Content-->
    <main class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7 text-center">
                    <p>Si vous souhaitez accéder à mon CV, vous le trouverez juste ici au format pdf en cliquant sur le bouton "télécharger".</p>
                    <div class="my-5">
                            <a href="public/assets/img/cv.pdf" class="btn btn-primary text-uppercase" download="CV Valentin Lecavelier Des Etangs Développeur Web">-> Télécharger <-</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock content %}